<template>
  <v-card>
    <v-toolbar color="dark" dark>
      <v-toolbar-title>Add new measurement</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-toolbar>

    <v-form v-model="valid">
      <v-container>
        <v-layout>
          <v-flex
              xs12
              md6
          >

            <v-text-field
                v-model="biceps"
                :rules="measurementRules"
                label="biceps"
                ref="biceps"
                placeholder="Biceps size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>

            <v-text-field
                v-model="triceps"
                :rules="measurementRules"
                label="triceps"
                ref="triceps"
                placeholder="Triceps size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>

            <v-text-field
                v-model="butt"
                :rules="measurementRules"
                label="butt"
                ref="butt"
                placeholder="Butt size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>

            <v-text-field
                v-model="waist"
                :rules="measurementRules"
                label="waist"
                ref="waist"
                placeholder="Waist size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>

            <v-text-field
                v-model="breast"
                :rules="measurementRules"
                label="breast"
                ref="breast"
                placeholder="Breast size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>


          </v-flex>

          <v-flex
              xs12
              md6
          >

            <v-text-field
                v-model="thigh"
                :rules="measurementRules"
                label="thigh"
                ref="thigh"
                placeholder="Thigh size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>

            <v-text-field
                v-model="calf"
                :rules="measurementRules"
                label="calf"
                ref="calf"
                placeholder="Calf size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>

            <v-text-field
                v-model="neck"
                :rules="measurementRules"
                label="neck"
                ref="neck"
                placeholder="Neck size in cm"
                suffix="cm"
                mask="####"
            ></v-text-field>

            <v-text-field
                v-model="name"
                label="name"
                ref="name"
                placeholder="Give a name to your measurement"
            ></v-text-field>

            <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                    v-model="dateCreated"
                    ref="dateCreated"
                    label="Date"
                    persistent-hint
                    prepend-icon="event"
                    v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                  v-model="dateCreated"
                  no-title
                  first-day-of-week="1"
                  :allowed-dates="(date) => +new Date(date) < +new Date()"
                  @input="menu1 = false"></v-date-picker>
            </v-menu>

          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex
            xs12
            md12
            class="text-xs-center"
          >
            <p class="text-xs-center">
              <v-btn
                  :loading="sending"
                  :disabled="sending"
                  color="blue-grey"
                  class="white--text"
                  @click="sendForm"
              >
                {{updating ? 'Update measurement' : 'Add measurement'}}
              </v-btn>
            </p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
  import _ from 'lodash';

  export default {
    fetch ({store, params}) {
      if (params.id === 'add') {
        return Promise.resolve();
      }
      return store.dispatch('measurement/getMeasurement', params.id);
    },
    mounted() {
      const measurementId = this.$route.params.id;
      if (measurementId === 'add') {
        return ;
      }

      const measurement = _.find(this.$store.getters['measurement/getMeasurements'], (measurement) => measurement._id === measurementId);

      this.updating = true;

      this.name = measurement.name;
      this.biceps = measurement.biceps;
      this.triceps = measurement.triceps;
      this.butt = measurement.butt;
      this.waist = measurement.waist;
      this.breast = measurement.breast;
      this.thigh = measurement.thigh;
      this.calf = measurement.calf;
      this.neck = measurement.neck;
      this.dateCreated = new Date(measurement.measurement_date).toISOString().substr(0, 10);
    },
    data: () => ({
      updating: false,

      sending: false,
      dateModal: false,
      formHasErrors: false,
      menu1: false,

      dateCreated: new Date().toISOString().substr(0, 10),

      valid: false,
      name: '',
      biceps: '',
      triceps: '',
      butt: '',
      waist: '',
      breast: '',
      thigh: '',
      calf: '',
      neck: '',

      measurementRules: [
        v => !v || (v && /[1-9][0-9]{0,3}/.test(v)) || 'Must be number in centimetres'
      ],
    }),

    computed: {
      form () {
        return {
          dateCreated: this.dateCreated,
        }
      }
    },

    methods: {
      sendForm () {
        this.formHasErrors = false;
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true;

          this.$refs[f].validate(true)
        });

        if (this.formHasErrors) {
          return ;
        }

        this.sending = true;

        this.$store.dispatch(`measurement/${this.updating ? 'updateMeasurement' : 'createMeasurement'}`, {
          'user_id': this.$store.state.auth.userId,
          'measurementId': this.$route.params.id,
          'measurement_date': this.dateCreated,
          'name': this.name,
          'biceps': this.biceps,
          'triceps': this.triceps,
          'butt': this.butt,
          'waist': this.waist,
          'breast': this.breast,
          'thigh': this.thigh,
          'calf': this.calf,
          'neck': this.neck,
        })
          .then(() => {
            this.$router.push('/measurement');
          })
          .catch(() => {
            this.sending = false;
          });
      },
    },
  }
</script>
