<template>
  <v-card>
    <v-toolbar color="cyan" dark>
      <v-toolbar-title>Measurement</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn color="light-green lighten-1"
             @click="$router.push('/measurement/add')"
             icon
             dark
             small
             fab>
        <v-icon>add</v-icon>
      </v-btn>
    </v-toolbar>

    <v-list two-line>
      <template v-for="(item, index) in items">

        <v-list-tile
            :key="index"
            @click=""
        >
          <v-list-tile-content>
            <v-list-tile-title v-if="item.name">
              {{item.name}}
            </v-list-tile-title>
            <v-list-tile-title v-else>
              {{item.measurement_date|formatDate}}
            </v-list-tile-title>
            <v-list-tile-sub-title v-if="item.name">
              {{item.measurement_date|formatDate}}
            </v-list-tile-sub-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <div>
              <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
              >
                edit
              </v-icon>
              <v-icon
                  small
                  @click="deleteItem(item)"
              >
                delete
              </v-icon>
            </div>
          </v-list-tile-action>

        </v-list-tile>
      </template>
    </v-list>
  </v-card>
</template>

<script>
  export default {
    fetch ({store}) {
      return store.dispatch('measurement/ensureMeasurements');
    },
    computed: {
      items () {
        return this.$store.getters['measurement/getMeasurements'];
      },
    },
    methods: {
      editItem (measurement) {
        this.$router.push(`/measurement/${measurement._id}`);
      },
      deleteItem (measurement) {
        if (confirm('Are you sure you want to delete this item?')) {
          this.$store.dispatch('measurement/deleteMeasurement', measurement._id);
        }
      },
    },
  }
</script>

<style scoped lang="scss">

</style>