<template>
  <v-card>
    <v-toolbar color="dark" dark>
      <v-toolbar-title>Add new weighing</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-toolbar>

    <v-form v-model="valid">
      <v-container>
        <v-layout>
          <v-flex
              xs12
              md6
          >
            <v-text-field
                v-model="weight"
                :rules="weightRules"
                label="Weight"
                ref="weight"
                placeholder="Enter weight (eg. 85)"
                suffix="kg"
                mask="###"
                requied
            ></v-text-field>
            <v-text-field
                v-model="bodyFat"
                :rules="bodyFatRules"
                label="Body fat"
                ref="bodyFat"
                placeholder="Enter body fat (eg. 20)"
                suffix="%"
            ></v-text-field>
            <v-text-field
                v-model="muscleMass"
                :rules="muscleMassRules"
                label="Muscle mass"
                ref="muscleMass"
                suffix="%"
                placeholder="Enter muscle mass (eg. 55)"
            ></v-text-field>
            <v-text-field
                v-model="bodyWater"
                :rules="bodyWaterRules"
                label="Body water"
                ref="bodyWater"
                suffix="%"
                placeholder="Enter body water (eg. 65)"
            ></v-text-field>
            <v-text-field
                v-model="internalBodyFat"
                :rules="internalBodyFatRules"
                label="Internal Body Fat"
                ref="internalBodyFat"
                mask="##"
                placeholder="Enter internal Body Fat (eg. 1)"
            ></v-text-field>
          </v-flex>

          <v-flex
              xs12
              md6
          >

            <v-dialog
                ref="dialog"
                v-model="dateModal"
                :return-value.sync="dateCreated"
                persistent
                lazy
                full-width
                width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                    v-model="dateCreated"
                    label="Date of weighing"
                    ref="dateCreated"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                  v-model="dateCreated"
                  :landscape="false"
                  :reactive="true"
                  no-title
                  first-day-of-week="1"
                  :allowed-dates="(date) => +new Date(date) < +new Date()"
              >
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="dateModal = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.dialog.save(dateCreated)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex
            xs12
            md12
            class="text-xs-center"
          >
            <p class="text-xs-center">
              <v-btn
                  :loading="sending"
                  :disabled="sending"
                  color="blue-grey"
                  class="white--text"
                  @click="sendForm"
              >
                {{updating ? 'Update weighing' : 'Add weighing'}}
              </v-btn>
            </p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
  import _ from 'lodash';

  export default {
    fetch ({store, params}) {
      if (params.id === 'add') {
        return Promise.resolve();
      }
      return store.dispatch('weighing/getWeighing', params.id);
    },
    mounted() {
      const weighingId = this.$route.params.id;
      if (weighingId === 'add') {
        return ;
      }

      const weighing = _.find(this.$store.getters['weighing/getWeighings'], (weighing) => weighing._id === weighingId);

      this.updating = true;

      this.weight = weighing.weight;
      this.bodyFat = weighing.body_fat;
      this.muscleMass = weighing.muscle_mass;
      this.bodyWater = weighing.body_water;
      this.internalBodyFat = weighing.internal_body_fat;
      this.dateCreated = new Date(weighing.weighing_date).toISOString().substr(0, 10);
    },
    data: () => ({
      updating: false,

      sending: false,
      dateModal: false,
      formHasErrors: false,

      dateCreated: new Date().toISOString().substr(0, 10),

      valid: false,
      weight: '',
      bodyFat: '',
      muscleMass: '',
      bodyWater: '',
      internalBodyFat: '',

      weightRules: [
        v => !!v || 'Weight is required',
        v => /[1-9][0-9]{1,2}/.test(v) || 'Must be number in kilograms'
      ],
      bodyFatRules: [
        v => !v || (v && /[1-9][0-9]{0,2}/.test(v)) || 'Must be number in percents'
      ],
      muscleMassRules: [
        v => !v || (v && /[1-9][0-9]{0,2}/.test(v)) || 'Must be number in percents'
      ],
      bodyWaterRules: [
        v => !v || (v && /[1-9][0-9]{1,2}/.test(v)) || 'Must be number in percents'
      ],
      internalBodyFatRules: [
        v => !v || (v && /[1-9][0-9]?/.test(v)) || 'Must be number'
      ],
    }),

    computed: {
      form () {
        return {
          dateCreated: this.dateCreated,
          weight: this.weight,
        }
      }
    },

    methods: {
      sendForm () {
        this.formHasErrors = false;
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true;

          this.$refs[f].validate(true)
        });

        if (this.formHasErrors) {
          return ;
        }

        this.sending = true;

        this.$store.dispatch(`weighing/${this.updating ? 'updateWeighing' : 'createWeighing'}`, {
          'weighingId': this.$route.params.id,
          'weighing_date': this.dateCreated,
          'weight': this.weight,
          'body_fat': this.bodyFat,
          'muscle_mass': this.muscleMass,
          'body_water': this.bodyWater,
          'internal_body_fat': this.internalBodyFat,
        })
          .then(() => {
            this.$router.push('/weighing/list');
          })
          .catch(() => {
            this.sending = false;
          });
      },
    },
  }
</script>
