<template>
  <div>
    <v-card>
      <v-toolbar color="dark" dark>
        <v-toolbar-title>Weighing</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn color="light-green lighten-1"
               @click="$router.push('/weighing/add')"
               icon
               dark
               small
               fab>
          <v-icon>add</v-icon>
        </v-btn>
      </v-toolbar>

      <v-data-table
          :headers="headers"
          :items="weighings"
          class="elevation-1"
      >
        <template v-slot:items="props">
          <td>{{ props.item.weighing_date | formatDate }}</td>
          <td class="text-xs-center">{{ props.item.weight }}</td>
          <td class="text-xs-center">{{ props.item.muscle_mass }}</td>
          <td class="text-xs-center">{{ props.item.body_fat }}</td>
          <td class="text-xs-center">{{ props.item.body_water }}</td>
          <td class="text-xs-center">{{ props.item.internal_body_fat }}</td>
          <td class="justify-center layout px-0">
            <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)"
            >
              edit
            </v-icon>
            <v-icon
                small
                @click="deleteItem(props.item)"
            >
              delete
            </v-icon>
          </td>
        </template>
      </v-data-table>

    </v-card>
  </div>
</template>

<script>
  export default {
    fetch ({store}) {
      return store.dispatch('weighing/ensureWeighings');
    },
    data () {
      return {
        headers: [
          { text: 'Date', value: 'weighing_date' },
          { text: 'Weight (kg)', value: 'weight' },
          { text: 'Muscle mass (%)', value: 'muscle_mass' },
          { text: 'Body fat (%)', value: 'body_fat' },
          { text: 'Body water (%)', value: 'body_water' },
          { text: 'Internal body fat', value: 'internal_body_fat' },
          { text: 'Actions', sortable: false },
        ],
      };
    },
    methods: {
      editItem (weighing) {
        this.$router.push(`/weighing/${weighing._id}`);
      },
      deleteItem (weighing) {
        if (confirm('Are you sure you want to delete this item?')) {
          this.$store.dispatch('weighing/deleteWeighing', weighing._id);
        }
      },
    },
    computed: {
      weighings () {
        return this.$store.getters['weighing/getWeighings'];
      },
    },
  }
</script>
