<template>
  <v-card>
    <div class="statistics-chart">
      <chart />
    </div>
  </v-card>
</template>

<script>
  import Chart from '~/components/common/Chart';

  export default {
    components: {
      'chart': Chart
    },
    fetch ({store}) {
      return store.dispatch('weighing/ensureWeighings');
    },
  }
</script>

<style scoped lang="scss">
  .statistics-chart {
    width: 50%;

    @media (max-width: 550px) {
      width: 100%;
    }
  }
</style>