<template>
  <v-alert
      :value="open"
      :type="type"
      transition="scale-transition"
      class="mb-3"
      @click="() => open = !open"
  >
    {{message}}
  </v-alert>
</template>

<script>
  export default {
    data: () => {
      return ({
        timeout: null,
      })
    },
    computed: {
      open: {
        get () {
          return this.$store.state.alert.open;
        },
        set () {
          this.$store.dispatch('alert/close');
        },
      },
      type () {
        return this.$store.state.alert.type;
      },
      message () {
        return this.$store.state.alert.message;
      },
    },
    watch: {
      open: function (opened) {
        if (opened) {
          if (!this.timeout) {
            this.timeout = setTimeout(() => this.$store.dispatch('alert/close'), 5000);
          }
        }
      },
    },
  }
</script>

<style>
  .v-alert.v-alert {
    position: fixed;
    width: 300px;
    top: 24px;
    right: 24px;
    z-index: 3;
  }
</style>
