<template>
  <v-navigation-drawer
      v-if="$store.getters['auth/isLoggedIn']"
      v-model="drawer"
      :clipped="true"
      fixed
      app
  >
    <v-list>

      <div v-for="(item, i) in items">
        <v-list-group
            v-if="item.children"
            :prepend-icon="item.icon"
            :key="i"
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-title v-text="item.title" />
            </v-list-tile>
          </template>

          <v-list-tile
              v-for="(itemChild, j) in item.children"
              :key="j"
              :to="itemChild.to"
          >
            <v-list-tile-title v-text="itemChild.title" />
          </v-list-tile>

        </v-list-group>

        <v-list-tile
          v-else
          :key="i"
          :to="item.to"
        >
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title v-text="item.title" />
        </v-list-tile>
      </div>

    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    data: () => {
      return ({
        items: [
          {
            icon: 'apps',
            title: 'Dashboard',
            to: '/'
          },
          {
            icon: 'settings_input_svideo',
            title: 'Weighing',
            children: [
              {
                title: 'Weighing list',
                to: '/weighing/list',
              },
              {
                title: 'Weighing statistics',
                to: '/weighing/statistics',
              }
            ]
          },
          {
            icon: 'straighten',
            title: 'Measurement',
            to: '/measurement',
          }
        ],
      });
    },
    props: {
      drawer: {
        required: true,
      },
    },
  }
</script>
