<template>
  <v-app dark>
    <navigation :drawer="drawer" />
    <v-toolbar
      :clipped-left="true"
      fixed
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer" v-if="$store.getters['auth/isLoggedIn']" />
      <v-toolbar-title v-text="title" class="mr-3" />
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down" v-if="$store.getters['auth/isLoggedIn']">
        <v-btn
            flat
            @click="$store.dispatch('auth/logout')">
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container>
        <alert />
        <nuxt />
      </v-container>
    </v-content>

    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
  import Alert from '~/components/common/Alert';
  import Navigation from '~/components/common/Navigation';

  export default {
    components: {
      'alert': Alert,
      'navigation': Navigation,
    },
    data() {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        right: true,
        rightDrawer: false,
        title: 'FitHelper'
      }
    }
  }
</script>
