<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <v-card>
        <v-card-title class="headline">Welcome to Fitness Helper!!! Yeey</v-card-title>
        <v-card-text>
          <p>Fitness "app" for everybody</p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {

}
</script>
