<template>
  <form class="login" @submit.prevent="login">
    <h1>Sign in</h1>
    <label>Email</label>
    <input required v-model="email" type="email" placeholder="Name"/>
    <label>Password</label>
    <input required v-model="password" type="password" placeholder="Password"/>
    <hr/>
    <button type="submit">Login</button>
  </form>
</template>

<script>
  export default {
    data(){
      return {
        email : "",
        password : "",
      }
    },
    methods: {
      login () {
        let email = this.email;
        let password = this.password;
        this.$store.dispatch('auth/login', { email, password })
          .then(() => this.$store.dispatch('auth/me'))
          .catch(err => console.log(err))
          .then(() => {
            this.$router.push('/')
          })
          .catch(err => console.log(err));
      }
    }
  }
</script>

<style scoped lang="scss">

</style>